<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!--external scripts and libraries-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.0/angular-material.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.0/angular-material.min.css">

    <link rel="stylesheet" href="/client/stylesheets/dewei.css">
    <link rel="stylesheet" href="/client/stylesheets/chen.css">
    <link rel="stylesheet" href="/client/stylesheets/Shawnny.css">
    <link rel="stylesheet" href="/client/stylesheets/Common.css">

    <script type="text/javascript" src="/client/javascripts/dewei.js"></script>
    <script type="text/javascript" src="/client/javascripts/chen.js"></script>
    <script type="text/javascript" src="/client/javascripts/Shawnny.js"></script>
    <script type="text/javascript" src="/client/javascripts/Common.js"></script>
</head>

<body ng-app="app" ng-controller="userCtrl">
<div class="container">
    <div class="Content">

        <div class="dPersonalInfo" ng-show="webTag === 'PersonalInfo'" ng-init="dGetPersonalInfo(this, username)">
            <div ng-show="!isLogin">
                <div class="form-group row" style="height: 100px;"></div>
                <div class="form-group row">
                    <label class="col-sm-2 offset-sm-3">Username</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control input-sm" ng-model="username"
                               placeholder="Please input your username">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 offset-sm-3">Password</label>
                    <div class="col-sm-4">
                        <input type="password" class="form-control input-sm" ng-model="password"
                               placeholder="Please input your username">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-primary" style="float: right; margin-right: 50px; width: 200px;" ng-click="dLogin(this)">Sign In</button>
                    </div>
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-primary" style="float: left; margin-left: 50px; width: 200px;">Sign Up</button>
                    </div>
                </div>
            </div>
            <div class="dInfoList" ng-show="isLogin">
                <div class="form-group row dBorderRow">
                    <div class="col-sm-3 text-center dRowMark">
                        UserName:
                    </div>
                    <div class="col-sm-3 text-left" style="font-size: 30px; font-family: Consolas, monaco, monospace;">
                        {{ personInfo.username }}
                    </div>
                </div>
                <div class="form-group row dBorderRow" style="height: 80px;">
                    <div class="col-sm-3 text-center dRowMark">
                        Avatar
                    </div>
                    <div class="col-sm-3 text-left" style="height: 100%">
                        <img src="{{personInfo.avatar}}" alt="Null Avatar" height="100%" />
                    </div>
                </div>
                <div class="form-group row dBorderRow">
                    <div class="col-sm-3 text-center dRowMark">
                        Personal Tags:
                    </div>
                    <div class="col-sm-8 text-left">
                        <div class="Tag" ng-repeat="tag in personInfo.tags" style="display: inline-block;">{{tag}}</div>
                    </div>
                </div>
                <div class="form-group row dBorderRow">
                    <div class="col-sm-3 text-center dRowMark">
                        Level:
                    </div>
                    <div class="col-sm-1 text-left">
                        <div class="Level" style="font-size: 24px; font-weight: bold; font-family: Consolas, monaco, monospace;">{{personInfo.level}}</div>
                    </div>
                    <div class="col-sm-6 text-left">
                        <div ng-repeat="imageURL in levelImages" style="display: inline-block;">
                            <img src="{{imageURL.url}}" alt="Not Found" />
                        </div>
                    </div>
                </div>
                <div class="form-group row dBorderRow" style="">
                    <div class="col-sm-3 text-center dRowMark">
                        Missions Issued:
                    </div>
                    <div class="col-sm-8 text-left dRowMark">
                        <div class="Mission">
                            <div class="card" ng-repeat="mission in missionIssuedList" style="width: 300px">
                                <div class="card-body" style="min-height: 360px; height: auto;">
                                    <!--style="padding-bottom:0px; height: 350px; overflow-x: scroll;-->
                                    <h5 class="card-title">{{mission.title}}</h5>
                                    <div style="width: 100%; font-size: 15px;">
                                        For:&nbsp;<span class="badge badge-primary tagInterval" ng-repeat="tag in mission.tags">{{tag}}</span>
                                    </div>
                                    <div style="width: 100%; font-size: 18px;">
                                        Reward: <div class="MissionReward">{{mission.reward}}</div>
                                    </div>
                                    <div style="width: 100%; font-size: 17px">
                                        Level Require: <div class="MissionLevel">{{mission.level>0? mission.level+'+': 'NONE'}}</div>
                                    </div>
                                    <h6 class="card-subtitle mb-2 text-muted" style="margin-top: 8px">Description</h6>
                                    <!--<p class="card-text">{{mission.description}}</p>-->
                                    <a href="#" data-toggle="collapse" data-target="{{'#b' + mission._id.toString()}}" aria-expanded="false" aria-controls="collapseExample">
                                        <i class="material-icons">unfold_more</i>
                                        Detail
                                    </a>
                                    <div class="collapse" id="{{'b' + mission._id.toString()}}"}>
                                        <!--<div class="card" style="width: 200px">-->
                                        {{mission.description}}
                                        <!--</div>-->
                                    </div>

                                    <div class="MissionIssueBy row justify-content-between" ng-show="(mission.doneBy === $parent.personInfo.username && mission.status != 0) || (mission.issuer != $parent.personInfo.username && mission.status == 0)">
                                        <p>Issued By: <strong>{{ mission.issuer }}</strong></p>
                                        <button class="btn btn-primary MissionTalk " style=" margin-top: -5px; font-size: 13px;" ng-click="sendMessage($parent, $parent.personInfo.username, mission.issuer, 'Hello '+mission.issuer+', let us take a talk!');">
                                            <i class="material-icons">chat</i>Take A Talk</button>
                                    </div>
                                    <div ng-show="mission.issuer === $parent.personInfo.username && mission.status == 1">
                                        <div ng-show="mission.doneBy!==''" style="font-size: 13px;">
                                            Currently accepted by <div class="MissionDoneBy" style="font-size: 22px;">{{mission.doneBy}}</div>
                                        </div>
                                        <div ng-show="mission.doneBy===''" style="font-size: 18px;">Not accepted by anyone yet</div>
                                    </div>
                                    <div class="row justify-content-center" >
                                        <a href="#" class="btn btn-primary MissionAccept"
                                           ng-show="mission.issuer !== $parent.personInfo.username && mission.status == 0"
                                           ng-click="TakeMission($parent, mission._id, $parent.personInfo.username)">
                                            <i class="material-icons">list</i>
                                            Take Mission</a>
                                        <p>&nbsp;</p>
                                        <a href="#" class="btn btn-primary MissionAccept"
                                           ng-show="mission.doneBy === $parent.personInfo.username && mission.status == 1"
                                           ng-click="CompleteMission($parent, mission._id, $parent.personInfo.username)">
                                            <i class="material-icons">done</i>
                                            Confirm Completion</a>
                                    </div>

                                    <div class="row MissionDoneByMe" ng-show="mission.doneBy == $parent.personInfo.username && mission.status == 2">
                                        Done By ME!
                                        <i class="material-icons" style="color: red; margin-left: 20px;">done_outline</i>
                                    </div>
                                </div>
                                <div class="card-footer" style="padding-bottom: 2px; padding-top: 2px">

                                    <small class="text-muted" style="font-size: 12px">Last Updated: {{getTimeFromNow(this, mission.created_at)}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row dBorderRow" style="">
                    <div class="col-sm-3 text-center dRowMark">
                        Missions Ongoing:
                    </div>
                    <div class="col-sm-8 text-left dRowMark">
                        <div class="Mission">
                            <div class="card" ng-repeat="mission in missionOngoingList" style="width: 300px">
                                <div class="card-body" style="min-height: 360px; height: auto;">
                                    <!--style="padding-bottom:0px; height: 350px; overflow-x: scroll;-->
                                    <h5 class="card-title">{{mission.title}}</h5>
                                    <div style="width: 100%; font-size: 15px;">
                                        For:&nbsp;<span class="badge badge-primary tagInterval" ng-repeat="tag in mission.tags">{{tag}}</span>
                                    </div>
                                    <div style="width: 100%; font-size: 18px;">
                                        Reward: <div class="MissionReward">{{mission.reward}}</div>
                                    </div>
                                    <div style="width: 100%; font-size: 17px">
                                        Level Require: <div class="MissionLevel">{{mission.level>0? mission.level+'+': 'NONE'}}</div>
                                    </div>
                                    <h6 class="card-subtitle mb-2 text-muted" style="margin-top: 8px">Description</h6>
                                    <!--<p class="card-text">{{mission.description}}</p>-->
                                    <a href="#" data-toggle="collapse" data-target="{{'#c' + mission._id.toString()}}" aria-expanded="false" aria-controls="collapseExample">
                                        <i class="material-icons">unfold_more</i>
                                        Detail
                                    </a>
                                    <div class="collapse" id="{{'c' + mission._id.toString()}}"}>
                                        <!--<div class="card" style="width: 200px">-->
                                        {{mission.description}}
                                        <!--</div>-->
                                    </div>

                                    <div class="MissionIssueBy row justify-content-between" ng-show="(mission.doneBy === $parent.personInfo.username && mission.status != 0) || (mission.issuer != $parent.personInfo.username && mission.status == 0)">
                                        <p>Issued By: <strong>{{ mission.issuer }}</strong></p>
                                        <button class="btn btn-primary MissionTalk " style=" margin-top: -5px; font-size: 13px;" ng-click="sendMessage($parent, $parent.personInfo.username, mission.issuer, 'Hello '+mission.issuer+', let us take a talk!');">
                                            <i class="material-icons">chat</i>Take A Talk</button>
                                    </div>
                                    <div ng-show="mission.issuer === $parent.personInfo.username && mission.status == 1">
                                        <div ng-show="mission.doneBy!==''" style="font-size: 13px;">
                                            Currently accepted by <div class="MissionDoneBy" style="font-size: 22px;">{{mission.doneBy}}</div>
                                        </div>
                                        <div ng-show="mission.doneBy===''" style="font-size: 18px;">Not accepted by anyone yet</div>
                                    </div>
                                    <div class="row justify-content-center" >
                                        <a href="#" class="btn btn-primary MissionAccept"
                                           ng-show="mission.issuer !== $parent.personInfo.username && mission.status == 0"
                                           ng-click="TakeMission($parent, mission._id, $parent.personInfo.username)">
                                            <i class="material-icons">list</i>
                                            Take Mission</a>
                                        <p>&nbsp;</p>
                                        <a href="#" class="btn btn-primary MissionAccept"
                                           ng-show="mission.doneBy === $parent.personInfo.username && mission.status == 1"
                                           ng-click="CompleteMission($parent, mission._id, $parent.personInfo.username)">
                                            <i class="material-icons">done</i>
                                            Confirm Completion</a>
                                    </div>

                                    <div class="row MissionDoneByMe" ng-show="mission.doneBy == $parent.personInfo.username && mission.status == 2">
                                        Done By ME!
                                        <i class="material-icons" style="color: red; margin-left: 20px;">done_outline</i>
                                    </div>
                                </div>
                                <div class="card-footer" style="padding-bottom: 2px; padding-top: 2px">

                                    <small class="text-muted" style="font-size: 12px">Last Updated: {{getTimeFromNow(this, mission.created_at)}}</small>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="form-group row dBorderRow" style="">
                    <div class="col-sm-3 text-center dRowMark">
                        Mission Done:
                    </div>
                    <div class="col-sm-8 text-left dRowMark">
                        <div class="Mission">
                            <div class="card" ng-repeat="mission in missionDoneList" style="width: 300px">
                                <div class="card-body" style="min-height: 360px; height: auto;">
                                    <!--style="padding-bottom:0px; height: 350px; overflow-x: scroll;-->
                                    <h5 class="card-title">{{mission.title}}</h5>
                                    <div style="width: 100%; font-size: 15px;">
                                        For:&nbsp;<span class="badge badge-primary tagInterval" ng-repeat="tag in mission.tags">{{tag}}</span>
                                    </div>
                                    <div style="width: 100%; font-size: 18px;">
                                        Reward: <div class="MissionReward">{{mission.reward}}</div>
                                    </div>
                                    <div style="width: 100%; font-size: 17px">
                                        Level Require: <div class="MissionLevel">{{mission.level>0? mission.level+'+': 'NONE'}}</div>
                                    </div>
                                    <h6 class="card-subtitle mb-2 text-muted" style="margin-top: 8px">Description</h6>
                                    <!--<p class="card-text">{{mission.description}}</p>-->
                                    <a href="#" data-toggle="collapse" data-target="{{'#d' + mission._id.toString()}}" aria-expanded="false" aria-controls="collapseExample">
                                        <i class="material-icons">unfold_more</i>
                                        Detail
                                    </a>
                                    <div class="collapse" id="{{'d' + mission._id.toString()}}"}>
                                        <!--<div class="card" style="width: 200px">-->
                                        {{mission.description}}
                                        <!--</div>-->
                                    </div>

                                    <div class="MissionIssueBy row justify-content-between" ng-show="(mission.doneBy === $parent.personInfo.username && mission.status != 0) || (mission.issuer != $parent.personInfo.username && mission.status == 0)">
                                        <p>Issued By: <strong>{{ mission.issuer }}</strong></p>
                                        <button class="btn btn-primary MissionTalk " style=" margin-top: -5px; font-size: 13px;" ng-click="sendMessage($parent, $parent.personInfo.username, mission.issuer, 'Hello '+mission.issuer+', let us take a talk!');">
                                            <i class="material-icons">chat</i>Take A Talk</button>
                                    </div>
                                    <div ng-show="mission.issuer === $parent.personInfo.username && mission.status == 1">
                                        <div ng-show="mission.doneBy!==''" style="font-size: 13px;">
                                            Currently accepted by <div class="MissionDoneBy" style="font-size: 22px;">{{mission.doneBy}}</div>
                                        </div>
                                        <div ng-show="mission.doneBy===''" style="font-size: 18px;">Not accepted by anyone yet</div>
                                    </div>
                                    <div class="row justify-content-center" >
                                        <a href="#" class="btn btn-primary MissionAccept"
                                           ng-show="mission.issuer !== $parent.personInfo.username && mission.status == 0"
                                           ng-click="TakeMission($parent, mission._id, $parent.personInfo.username)">
                                            <i class="material-icons">list</i>
                                            Take Mission</a>
                                        <p>&nbsp;</p>
                                        <a href="#" class="btn btn-primary MissionAccept"
                                           ng-show="mission.doneBy === $parent.personInfo.username && mission.status == 1"
                                           ng-click="CompleteMission($parent, mission._id, $parent.personInfo.username)">
                                            <i class="material-icons">done</i>
                                            Confirm Completion</a>
                                    </div>

                                    <div class="row MissionDoneByMe" ng-show="mission.doneBy == $parent.personInfo.username && mission.status == 2">
                                        Done By ME!
                                        <i class="material-icons" style="color: red; margin-left: 20px;">done_outline</i>
                                    </div>
                                </div>
                                <div class="card-footer" style="padding-bottom: 2px; padding-top: 2px">

                                    <small class="text-muted" style="font-size: 12px">Last Updated: {{getTimeFromNow(this, mission.created_at)}}</small>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="dIssueMission" ng-show="webTag === 'IssueMission'">
            <div ng-show="!isLogin" class="NotLogin">
                Please login at <strong>Personal Info</strong> Page first
            </div>
            <div ng-show="isLogin && resendOrNot" style="font-size: 25px; width: 80%; margin: auto; text-align: center;">
                Congratulations! You have successfully issued a new mission.<br/><br/>
                You can check your new mission in <strong><a href="#" ng-click="webTag='PersonalInfo'; dLogin(this);">Personal Info</a></strong><br/><br/>
                Or you can re-issue another task <strong><a href="#" ng-click="resendOrNot=false; dLogin(this);">Here</a></strong>!
            </div>
            <form ng-show="isLogin && !resendOrNot" style="width: 80%; margin: auto; margin-top: 20px;">
                <div class="form-group row">
                    <label class="col-md-2" id = "stitleLabel" for="stitleName">Title Name:</label>
                    <input class="col-md-8" type="text" class="form-control" id="stitleName" placeholder="Enter a title name for this event" ng-model="ngEventTitle">
                </div>
                <div class="form-group form-group-lg row">
                    <label class="col-md-2" id="sdescriptionLabel" for="stitleDescription">Description:</label>
                    <textarea class="form-control form-control-lg col-md-8" type="text" rows="8" id="stitleDescription" placeholder="Explain your needs in detail" ng-model="ngEventDescription"></textarea>
                </div>
                <div class="form-group row">
                    <label class="col-md-2" id = "sdistanceLabel" for="sdistance">Distance:</label>
                    <input type="text" class="form-control col-md-8" id = "sdistance" placeholder="Distance in miles" ng-model="ngDistance">
                </div>
                <div class="form-group row">
                    <label class="col-md-2" id="srewardLabel" for="sreward">Reward:</label>
                    <input type="text" class="form-control col-md-8" id="sreward" placeholder="Reward amount" ng-model="ngReward">
                </div>
                <div class="form-group row">
                    <label class="col-md-2" id="slevelLabel" for="slevel">Level Requirement:</label>
                    <input type="text" class="form-control col-md-8" id="slevel" placeholder="Your minimum level requirement" ng-model="ngLevel">
                </div>

                <div class="form-group row">
                    <div class="dropdown col-md-4" id="schooseTags">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Choose Your Tag
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <label class="dropdown-item" for="sDriverTag"><input id="sDriverTag" type="checkbox" ng-model="ngDriver">Driver</label>
                            <label class="dropdown-item" for="sProgrammerTag"><input id="sProgrammerTag" type="checkbox" ng-model="ngProgrammer">Programmer</label>
                            <label class="dropdown-item" for="sDesignerTag"><input id="sDesignerTag" type="checkbox" ng-model="ngDesigner">Designer</label>
                            <label class="dropdown-item" for="sCookTag"><input id="sCookTag" type="checkbox" ng-model="ngCook">Cook</label>
                            <label class="dropdown-item" for="sPlumberTag"><input id="sPlumberTag" type="checkbox" ng-model="ngPlumber">Plumber</label>
                            <label class="dropdown-item" for="sTutorTag"><input id="sTutorTag" type="checkbox" ng-model="ngTutor">Tutor</label>
                            <label class="dropdown-item" for="sMathTag"><input id="sMathTag" type="checkbox" ng-model="ngMath">Math</label>
                            <label class="dropdown-item" for="sBoosterTag"><input id="sBoosterTag" type="checkbox" ng-model="ngBooster">Booster</label>
                            <label class="dropdown-item" for="sCourierTag"><input id="sCourierTag" type="checkbox" ng-model="ngCourier">Courier</label>
                            <label class="dropdown-item" for="sCleanerTag"><input id="sCleanerTag" type="checkbox" ng-model="ngCleaner">Cleaner</label>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <button id="sIssueButton" type="submit" class="btn btn-primary col-md-2" ng-click="sIssue(this)">Issue!</button>
                </div>
            </form>
        </div>

        <div class="dMissionList" ng-show="webTag === 'MissionList'">
            <div ng-show="!isLogin" class="NotLogin">
                Please login at <strong>Personal Info</strong> Page first
            </div>
            <div ng-show="isLogin">
                <div class="card-columns">
                    <div class="card" ng-repeat="mission in newMissionList" style="width: 350px;">
                        <div class="card-body" style="min-height: 360px; height: auto;">
                            <!--style="padding-bottom:0px; height: 350px; overflow-x: scroll;-->
                            <h5 class="card-title">{{mission.title}}</h5>
                            <div style="width: 100%; font-size: 15px;">
                                For:&nbsp;<span class="badge badge-primary tagInterval" ng-repeat="tag in mission.tags">{{tag}}</span>
                            </div>
                            <div style="width: 100%; font-size: 18px;">
                                Reward: <div class="MissionReward">{{mission.reward}}</div>
                            </div>
                            <div style="width: 100%; font-size: 17px">
                                Level Require: <div class="MissionLevel">{{mission.level>0? mission.level+'+': 'NONE'}}</div>
                            </div>
                            <h6 class="card-subtitle mb-2 text-muted" style="margin-top: 8px">Description</h6>
                            <!--<p class="card-text">{{mission.description}}</p>-->
                            <a href="#" data-toggle="collapse" data-target="{{'#a' + mission._id.toString()}}" aria-expanded="false" aria-controls="collapseExample">
                                <i class="material-icons">unfold_more</i>
                                Detail
                            </a>
                            <div class="collapse" id="{{'a' + mission._id.toString()}}"}>
                                <div class="card" style="width: 300px">
                                    {{mission.description}}
                                </div>
                            </div>

                            <div class="MissionIssueBy row justify-content-between" ng-show="(mission.doneBy === $parent.personInfo.username && mission.status != 0) || (mission.issuer != $parent.personInfo.username && mission.status == 0)">
                                <p>Issued By: <strong>{{ mission.issuer }}</strong></p>
                                <button class="btn btn-primary MissionTalk " style=" margin-top: -5px; font-size: 13px;" ng-click="sendMessage($parent, $parent.personInfo.username, mission.issuer, 'Hello '+mission.issuer+', let us take a talk!');">
                                    <i class="material-icons">chat</i>Take A Talk</button>
                            </div>
                            <div ng-show="mission.issuer === $parent.personInfo.username && mission.status == 1">
                                <div ng-show="mission.doneBy!==''" style="font-size: 13px;">
                                    Currently accepted by <div class="MissionDoneBy" style="font-size: 22px;">{{mission.doneBy}}</div>
                                </div>
                                <div ng-show="mission.doneBy===''" style="font-size: 18px;">Not accepted by anyone yet</div>
                            </div>
                            <div class="row justify-content-center" >
                                <a href="#" class="btn btn-primary MissionAccept"
                                   ng-show="mission.issuer !== $parent.personInfo.username && mission.status == 0"
                                   ng-click="TakeMission($parent, mission._id, $parent.personInfo.username)">
                                    <i class="material-icons">list</i>
                                    Take Mission</a>
                                <p>&nbsp;</p>
                                <a href="#" class="btn btn-primary MissionAccept"
                                   ng-show="mission.doneBy === $parent.personInfo.username && mission.status == 1"
                                   ng-click="CompleteMission($parent, mission._id, $parent.personInfo.username)">
                                    <i class="material-icons">done</i>
                                    Confirm Completion</a>
                            </div>
                            <div class="row MissionDoneByMe" ng-show="mission.doneBy == $parent.personInfo.username && mission.status == 2">
                                Done By ME!
                                <i class="material-icons" style="color: red; margin-left: 20px;">done_outline</i>
                            </div>
                        </div>
                        <div class="card-footer" style="padding-bottom: 2px; padding-top: 2px">

                            <small class="text-muted">Last Updated: {{getTimeFromNow(this, mission.created_at)}}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="dChatDialog" ng-show="webTag === 'ChatDialog'">
            <div ng-show="!isLogin" class="NotLogin">
                Please login at <strong>Personal Info</strong> Page first
            </div>
            
        </div>
    </div>

    <ul class="nav nav-pills BottomTag">
        <li class="nav-item">
            <a class="nav-link nav-style" ng-class="{active: webTag === 'MissionList' }"
               ng-click="webTag='MissionList'">Mission List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-style" ng-class="{active: webTag === 'ChatDialog' }"
               ng-click="webTag='ChatDialog'">Chat Dialog</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-style" ng-class="{active: webTag === 'IssueMission' }"
               ng-click="webTag='IssueMission'">Issue Mission</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-style" ng-class="{active: webTag === 'PersonalInfo' }"
               ng-click="webTag='PersonalInfo'; deweiTest(this);">Personal Info</a>
        </li>
    </ul>
</div>
</body>
</html>
