.container {
    height: 100%;
    border: 1px solid black;
    padding-left: 0px;
    padding-right: 0px;
}

.Content {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
    height: 90%;
}
/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.BottomTag {
    height: 10%;
}
.BottomTag li {
    height: 100%;
    width: 25%;
}
.BottomTag li a {
    height: 100%;
    text-align: center;
    padding-top: 16px;
    font-size: 24px;
    font-family: Consolas, monaco, monospace;
    cursor: pointer;
    border-radius: 0px !important;
    background-color: lightgrey;
}
.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.Tag {
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid lightgreen;
    background-color: lemonchiffon;
    margin: 5px 5px 5px 5px;
    border-radius: 10px;
    box-shadow: 2px 1px 8px 1px #888888;
    font-weight: bold;
    font-family: Consolas, monaco, monospace;
    font-size: 16px;
    display: inline-block;
}
.card {
    /*width: 300px;*/
    /*display: inline-block;*/
    /*margin: 10px 20px 10px 20px;*/
    box-shadow: 5px 5px 10px #aea8a8;
}
.card-body {
    padding: 0.8rem;
    height: 270px;
}
.Mission {
}
.MissionTitle {
    font-size: 17px;
    text-align: center;
    height: 20px;
    text-shadow: 1px 1px 8px #191111;
}
.MissionDescription {
    font-size: 13px;
    height: 80px;
    margin-bottom: 0px;
    border: 1px solid darkgray;
    padding: 2px 5px 2px 5px;
}
.MissionDoneBy {
    font-size: 20px;
    display: inline-block;
    color: cornflowerblue;
}
.MissionReward {
    display: inline-block;
    font-weight: bolder;
    font-family: inherit;
    margin-left: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    color: orangered;
}
.MissionLevel {
    display: inline-block;
    font-weight: bold;
    margin-left: 10px;
    font-size: 18px;
}
.MissionDoneByMe {

}
.NotLogin {
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
    margin-top: 200px;
}
.MissionChoice {
    margin-top: 6px;
}
.MissionAccept {
    width: 100%;
    /*height: 27px;*/
    /*font-size: 12px;*/
    margin-top: 10px;
    border-radius: 5px;
}
.MissionTalk {
    background-color: #e69e8f;
    color: black;
    border: none !important;
    font-weight: bold;
}
.MissionIssueBy {
    font-size: 16px;
}
.tagInterval {
    margin-right: 5px;
    margin-bottom: 10px;
}
.material-icons {
    font-size: inherit;
    line-height: inherit;
    vertical-align: middle;
    /*    transform: translateY(-.1em);*/
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}
.loginWindow {
    width: 300px;
    height: 500px;
}
