.sTestCss {

}

.dIssueMission{

}

#stitleLabel{
	color: rgb(245, 10, 0);
	font-weight: bold;
	font-family:  Arial, Helvetica, sans-serif;
	margin-left: 48px;
	margin-top:16px;
}

#sdescriptionLabel{
	color: rgb(245, 10, 0);
	font-weight: bold;
	font-family:  Arial, Helvetica, sans-serif;
	margin-left: 48px;
}

#sdistanceLabel{
	color: rgb(245, 10, 0);
	font-weight: bold;
	font-family:  Arial, Helvetica, sans-serif;
	margin-left: 48px;
}

#srewardLabel{
	color: rgb(245, 10, 0);
	font-weight: bold;
	font-family:  Arial, Helvetica, sans-serif;
	margin-left: 48px;
}

#slevelLabel{
	color: rgb(245, 10, 0);
	font-weight: bold;
	font-family:  Arial, Helvetica, sans-serif;
	margin-left: 48px;
}

#schooseTags{
	margin-left: 48px;
}

#sIssueButton{
	margin-left: 64px;
}
